* {
    margin: 0;
    padding: 0;
}

div {
    margin: 25px;
    width: 300px;
    height: 400px;
    background: black;
}

div img {
    height: 100%;
    width: 100%;
    border: 2px solid red;
    object-fit: cover;
    object-position: right;
}