* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row; /* Es el que tiene por defecto pero lo puedo cambior */
    flex-wrap: wrap; /* Hace que se mantengan las dimensiones del contenido y a medida que se achica el espacio las va poniendo abajo */
    justify-content:space-evenly;
    height: 100vh;
    /* align-items: flex-start;  se usa cuando hay una sola linea, cuando son varias se usa align content */
    align-content: flex-start;
}

.flex-item {
    background-color: #248;
    color: #fff;
    margin: 5px;
    height: 120px;
    width: 120px;
    min-width: 200px;
    text-align: center;
    
}
.orange {
    background-color: orange;
    flex-grow: 1;
    flex-basis: 400px;
    flex-shrink: 0;
    order: 0; /* sirve para ordenar las cajas cada el valor mas grande se va a posicionar al final */
}
.green {
    background-color: green;
    flex-grow: 1;

}